@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    display: flex;
    justify-content: center;
    width: 100%;
}
body{
    margin: 0;
    overflow-x: hidden;
    max-width: 2000px;
    width: 100%;
}

#app {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
.appWrapper {
    position: relative;
    width: 100%;
}
.headerWrapper {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000000;
    z-index: 10;
    max-width: 2000px;
}

.constraintLg {
    width: 100%;
    max-width: 1860px;
    padding: 0 30px;
    box-sizing: border-box;
}
.constraintMd {
    width: 100%;
    max-width: 1340px;
    padding: 0 30px;
    box-sizing: border-box;
}
.headerInner{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoWrapper {
    position: relative;
    width: auto;
    top: 30px;
}
.navWrapper {
    position: relative;
    width: auto;
}

.navWrapper nav {
    position: relative;
    width: auto;
    display: flex;
}

.navWrapper nav .navItem {
    position: relative;
    margin: 0 40px 0 0;

}
.navWrapper nav .navItem:last-child {
    margin: 0 0 0 0;
}

.navItem a {
    position: relative;
    font-size: 18px;
    font-weight: 800;
    color: #ffffff;
    text-decoration: none;
    padding: 27px 0;
    transition: all 0.3s ease;
}
.navItem a:before {
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: 8px;
    background-color: #000000;
    bottom: 0;
    left: -5px;
    transition: all 0.3s ease;
}
.navItem a:hover,
.navItem.active a{
    color: #B4FF00;
}
.navItem a:hover:before,
.navItem.active a:before{
    background-color: #B4FF00;
}

.languageSwitcherWrapper {
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
}
.localeItem {
    color: #858585;
    font-size: 22px;
    font-weight: 600;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
}
.localeItem.active,
.localeItem:hover{
    color: #ffffff;
}
.localeItem:last-child {
    margin: 0 0 0 35px;
}
.localeItem:last-child::before {
    content: '';
    height: 100%;
    width: 2px;
    background-color: #858585;
    position: absolute;
    left: -17px;
    transform: translateX(-50%);
}
.sliderWrapper {
    width: 100%;
    position: relative;
}
.sliderItem {
    position: relative;
}
.sliderItemImage {
    position: relative;
    padding: 24% 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.sliderItemImage:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background: transparent linear-gradient(180deg, #FEFEFE00 0%, #000000 100%) 0% 0% no-repeat padding-box;
}
.sliderItemContext {
    position: absolute;
    top: 55%;
    left: 16%;
    transform: translateY(-50%);
}
.sliderItemTitle {
    position: relative;
    width: auto;
    font-size: 100px;
    font-weight: 800;
    color: #ffffff;
}
.sliderItemTitle:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 96px;
    height: 16px;
    background-color: #B4FF00;
}

.sliderItemText {
    position: relative;
    max-width: 576px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    margin: 70px 0 0 0;
}
.slick-dots.custom-dot-class {
    position: absolute;
    display: flex !important;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.slick-dots.custom-dot-class li {
    list-style: none;
    margin: 0 15px;
}


.slick-dots.custom-dot-class li button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    background-color: #9F9F9F;
    color: #9F9F9F;
    cursor: pointer;
}
.slick-dots.custom-dot-class .slick-active button {
    background-color: #ffffff;
    color: #ffffff;
}
.cardsWrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 140px 0 0 0;
}
.cardsInner {
    position: relative;
    width: 100%;
}
.cardItem {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 130px 0;
}

.cardImagesSide {
    width: 54%;
    position: relative;
}
.cardItem:nth-child(2n+2) .cardImagesSide {
    order: 1;
}

.cardContextSide {
    width: calc(46% - 140px);
    position: relative;
    margin: 0 0 0 140px;
}
/*.cardItem:nth-child(2n+2) .cardContextSide {*/
/*    margin: 0 140px 0 0;*/
/*}*/
.cardImageSideInner {
    position: relative;
    width: 100%;
}
.cardImage {
    position: relative;
    padding: 27.6% 0;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    background-position-x: 50%;
    background-size: cover;
}
.cardImage.positioning {
    background-position-y: 0;
}
.cardImage.positioning:hover {
    background-position-y: 100%;
}
.cardImage.rotate {
    background-position-y: 50%;
    background-position-x: 100%;
    transform: rotate(0deg);
    transform-origin: 67% 48%;
    background-size: contain;
}

.cardImage.rotate:hover {
    transform: rotate(180deg);
}
.cardTip {
    color: #CFCFCF;
    width: auto;
    font-size: 16px;
    font-weight: 600;
}
.cardTitle, .generalTitle {
    width: auto;
    color: #000000;
    font-size: 32px;
    font-weight: 800;
    margin: 10px 0 25px 0;
}
.cardText {
    max-width: 456px;
}
.generalText {
    width: auto;
    font-size: 18px;
    line-height: 1.3;
}
.generalButton {
    background: #4B00FF 0 0 no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000066;
    border-radius: 42px;
    width: 240px;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    color: #ffffff;
    padding: 15px 0;
    margin: 40px 0 0 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
.generalButton.disable{
    opacity: 0.7;
    pointer-events: none;
}
.generalButton.lg {
    width: 100%;
    max-width: 368px;
}
.generalButton:hover {
    background-color: #3E00D4;
}
.contactWrapper {
    width: 100%;
    position: relative;
    display: flex;
}
.contactInner {
    width: 100%;
    position: relative;
    display: flex;
}
.mapWrapper {
    position: relative;
    width: 44%;
}

.mapWrapper img{
    position: relative;
    width: 100%;
    height: 100%;

}
.mapWrapper:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 32px;
    height: 32px;
    background-color: #B4FF00;
    border-radius: 50%;
}
.contactFormWrapper {
    position: relative;
    width: 56%;
    background: #F8F8F8;
    padding: 100px 20px 70px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.contactFormInner {
    position: relative;
    max-width: 700px;
}
.contactForm {
    position: relative;
    width: 100%;
    margin: 40px 0 0 0;
}
.formItem {
    position: relative;
    width: 100%;
    margin: 0 0 40px;
}
.formItem input,
.formItem textarea{
    position: relative;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 28px;
    height: 56px;
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 40px;
    box-sizing: border-box;
    background-color: #F8F8F8;
}
.formItem.hasError {
    color: #FF1A00 !important;
}
.formItem.hasError input,
.formItem.hasError textarea{
    border-color: #FF1A00 ;
    color: #FF1A00;
}
.formItem textarea {
    resize: none;
    height: 112px;
    padding: 20px 40px;
}

.formItem .inputRequired {
     position: absolute;
     right: 22px;
     bottom: -25px;
    font-size: 12px;
    opacity: 0.7;
 }

.formItem .inputLabel {
    position: absolute;
    left: 40px ;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F8F8F8;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    pointer-events: none;
}
.formItem .inputLabel.active  {
    font-size: 12px;
    top: 0;
    padding: 3px;
    box-sizing: border-box;
}
.formItem textarea + .inputLabel {
    top: 30px;
}
.formItem textarea + .inputLabel.active  {
    font-size: 12px;
    top: 0;
    padding: 3px;
    box-sizing: border-box;
}
.successTick {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
.messageCounter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 22px 0 0;
    box-sizing: border-box;
    margin: 10px 0 0;
    font-size: 12px;
    color: #000000;
    opacity: 0.7;
}
.formItem.dropdownSelectionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.formItem .category,
.formItem .subcategory{
    width: 46%;
    position: relative;
}
.formItem .category select,
.formItem .subcategory select {
    position: relative;
    width: 100%;
    border-radius: 28px;
    height: 56px;
    font-size:16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding: 0 40px;
    box-sizing: border-box;
    background-color: #F8F8F8;
}
.formItem input,
.formItem textarea,
.formItem select {
    /*transition: all 0.3s ease;*/
    border: 1px solid #000000;
}
textarea:focus,
input:focus,
select:focus{
    outline: none;
}
.formItem:not(.hasError) input:hover,
.formItem:not(.hasError) textarea:hover,
.formItem:not(.hasError) select:hover {
    border: 2px solid #4B00FF;
}
.checkboxSelectionsWrapper {
    position: relative;
    width: 100%;
    margin: 0 0 10px;
}
.checkboxSelectionsTitle {
    font-size: 16px;
    opacity: 0.8;
    margin: 0 0 20px;
}
.checkboxError {
    font-size: 12px;
    color: #FF1A00;
    opacity: 0.7;
    display: block;
}
.checkboxSelections {
    display: flex;
}
.generalCheckbox {
    position: relative;
    width: auto;
    margin: 0 30px 0 0;
}
.generalCheckbox label {
    margin: 0 0 0 10px;
}
.submitButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footerWrapper {
    display: flex;
    justify-content: center;
    background-color: #000000;
}
.footerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.footerInner > div {
    width: 250px;
    display: flex;
    color: #ffffff;
    /* justify-content: center; */
}
.copyrights {
    font-size: 16px;
}
.gdpr {
    font-size: 18px;
    font-weight: 800;
    justify-content: center;
}
.footerLogo {
    justify-content: flex-end;
}
/*Mobile menu starts*/
.mobileNavTemplate {
    display: none;
}

.mobileBurgerBtn {
    width: 60px;
    height: 50px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobileBurgerBtn::after,
.mobileBurgerBtn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    border-radius: 10px;
    left: 0;
}
.mobileBurgerBtn::after {
    top: 0;
    transform-origin: 88% 133%;
}
.mobileBurgerBtn::before {
    bottom: 0;
    transform-origin: 95% -50%;
}
.burgerBtnCenter{
    width: 100%;
    height: 10px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    border-radius: 10px;
    opacity: 1;
}
.burgerBtnCenter.active {
    opacity:0;
}
.mobileBurgerBtn.closeBtn::after {
    background-color: #ffffff;
    transform: rotate(-45deg);
}
.mobileBurgerBtn.closeBtn::before {
    background-color: #ffffff;
    transform: rotate(45deg);
}

.mobileNavigationWrapper {
    position: fixed;
    height: 100vh;
    top: -130%;
    left: 0;
    width: 100vw;
    align-items: center;
    text-align: center;
    background-color: #000000;
    transition: all 0.4s ease;
    z-index: 0;
}
.mobileNavigationWrapper .navigationInner {
    margin: 130px 0 0 0;
}
.mobileNavigationWrapper .navigationItem {
    margin: 0 0 40px;
}
.mobileNavigationWrapper .navigationItem a {
    color: #fff;
    font-size: 40px;
}

.mobileNavigationWrapper.visible {
    top: 0;
}

.mobileNavigationWrapper .navItem {
    position: relative;
    margin: 0 0 50px 0;

}
.mobileNavigationWrapper .navWrapper nav .navItem:last-child {
    margin: 0 0 0 0;
}

.mobileNavigationWrapper .navItem a {
    position: relative;
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
    text-decoration: none;
    padding: 27px 0;
    transition: all 0.3s ease;
}
.mobileNavigationWrapper .navItem a:before {
    display: none;
}
.mobileNavigationWrapper .navItem a:hover,
.mobileNavigationWrapper .navItem.active a{
    color: #B4FF00;
}
.mobileNavigationWrapper .navItem a:hover:before,
.mobileNavigationWrapper .navItem.active a:before{
    background-color: #B4FF00;
}

/*Mobile menu ends*/
@media (max-width:1400px) {
    .sliderItemTitle {
        font-size: 70px;
    }
    .sliderItemText {
        font-size: 24px;
        margin: 44px 0 0 0;
    }
}
@media (max-width:1150px) {
    .sliderItemContext {
        top: 50%;
    }
    .sliderItemTitle {
        font-size: 50px;
    }
    .sliderItemText {
        font-size: 20px;
        margin: 44px 0 0 0;
    }
    .slick-dots.custom-dot-class {
        bottom: 20px;
    }
    .navWrapper {
        display: none;
    }
    .mobileNavTemplate {
        display: block;
    }
    .headerInner > .languageSwitcherWrapper {
        display: none;
    }
}
@media (max-width:1100px) {
    .cardsWrapper {
        margin: 65px 0 0 0;
    }
    .cardItem {
        margin: 0 0 95px 0;
    }
    .cardContextSide {
        width: calc(46% - 70px);
        position: relative;
        margin: 0 0 0 70px;
    }
    .cardImage {
        padding: 26.6% 0;
    }
    .cardImage.rotate {
        background-position-y: 50%;
        background-position-x: 50%;
        transform-origin: 50% 50%;
    }
}
@media (max-width: 1000px) {
    .contactInner {
        flex-direction: column;
    }
    .contactFormWrapper {
        width: 100%;
    }
    .mapWrapper {
        width: 100%;
        order: 1;
        height: 296px;
        overflow: hidden;
    }
    .mapWrapper img {
        height: auto;
    }
}
@media (max-width:870px) {
    .cardsContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cardItem {
        flex-direction: column;
        max-width: 600px;
    }
    .cardImagesSide {
        width: 100%;
        position: relative;
    }
    .cardItem:nth-child(2n+2) .cardImagesSide {
        order: 0;
    }
    .cardImage.rotate {
        background-size: cover;
        padding: 41.6%;
    }
    .cardContextSide {
        width: 100%;
        margin: 35px 0 0 0;
    }

    .cardTitle, .generalTitle {
        font-size: 28px;
    }
    .gdpr {
        display: none !important;
    }
    .footerInner > div {
        width: auto;
    }

}
@media (max-width:750px) {
    .sliderItemImage {
        padding: 28% 0;
    }
    .sliderItemContext {
        top: 45%;
        left: 0;
        padding: 0 30px;
        box-sizing: border-box;
        width: 100%;
    }
    .sliderItemTitle {
        font-size: 38px;
    }
    .sliderItemTitle::after {
        bottom: -15px;
        width: 48px;
        height: 8px;
    }
    .sliderItemText {
        font-size: 18px;
        margin: 60px 0 0 0;
    }
    .slick-dots.custom-dot-class {
        bottom: 10px;
    }
}
@media (max-width:650px) {
    .headerInner {
        padding: 15px 0;
    }
    .logoWrapper {
        top: 0;
    }
    .mobileNavigationWrapper .navigationInner {
        margin: 80px 0 0 0;
    }
    .mobileNavigationWrapper .navItem {
        margin: 0 0 30px 0;
    }
    .mobileNavigationWrapper .navItem a {
        font-size: 35px;
    }
    .sliderItemImage {
        padding: 38% 0;
    }
    .slick-dots.custom-dot-class li {
        margin: 0 7px;
        width: 12px;
    }
    .slick-dots.custom-dot-class li button {
        font-size: 0;
        width: 12px;
        height: 12px;
    }
    .cardsWrapper {
        margin: 35px 0 0 0;
    }
    .cardItem {
        margin: 0 0 55px 0;
    }

    .generalText {
        font-size: 16px;
        line-height: 1.5;
    }
    .generalButton {
        width: 152px;
    }
    .contactFormWrapper {
        padding: 40px 20px 50px;
    }
}
@media (max-width:550px) {
    .formItem .category {
        margin: 0 0 40px;
    }
    .formItem .category, .formItem .subcategory {
        width: 100%;
    }
}
@media (max-width:500px) {
    .sliderItemImage {
        padding: 50% 0;
    }
    .copyrights {
        font-size: 12px;
    }
}

@media (max-width:400px) {
    .sliderItemImage {
        padding: 55% 0;
    }
    .mobileNavigationWrapper .navigationInner {
        margin: 100px 0 0 0;
    }
    .mobileNavigationWrapper .navItem a {
        font-size: 26px;
    }
}
@media (max-width: 350px)  {
    .sliderItemImage {
        padding: 60% 0;
    }
}
